<div class="container my-5">
<h2>Listado de clases</h2>

<div class="row">
    <div class="col"><app-form (newClase)="addClase($event)" [clase]="claseSelected"></app-form></div>
    <div class="col">
        @if(clases.length > 0){
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>creditos</th>
                        <th>profesor</th>
                        <th>update</th>
                    </tr>
                </thead>
                <tbody>
                    @for (clase of clases; track $index) {
                        <tr>
                            <td>{{clase.id}}</td>
                            <td>{{clase.nombre}}</td>
                            <td>{{clase.creditos}}</td>
                            <td>{{clase.profesor}}</td>
                            <td><button (click)="onUpdateClase(clase)" class="btn btn-sm btn-secondary">update</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }@else {
            <div class="alert alert-info">Lo sentimos no moleste</div>
        }
    </div>
</div>
</div>