<form (ngSubmit)="onSubmit(claseForm)" #claseForm="ngForm">
    <div>
        <input type="text" 
        class="form-control my-2" 
        placeholder="nombre" 
        name="nombre" 
        [(ngModel)]="clase.nombre">
    </div>
    <div>
        <input type="text" 
        class="form-control my-2" 
        placeholder="creditos" 
        name="creditos" 
        [(ngModel)]="clase.creditos">
    </div>
    <div>
        <input type="text" 
        class="form-control my-2" 
        placeholder="profesor" 
        name="profesor" 
        [(ngModel)]="clase.profesor">
    </div>
    <div>
        <button type="submit" class="btn btn-primary my-2">{{clase.id > 0? 'Update':'Create'}}</button>
        <button type="button" class="btn btn-success my-2" (click)="clean()">clean</button>
    </div>
</form>
