<button type="button" (click)="setEnable()">{{enabled? 'Ocultar':'Mostrar'}}</button>
<!--Angular 16 al 2 -->
<!--<div *ngIf="enabled; else notEnable">
  <h2>{{title}}</h2>
</div>
<ng-template #notEnable>
  <div>Lo sentimos no esta disponible la web</div>
</ng-template>

<ul *ngIf="enabled">
  <li *ngFor="let clase of clases">{{clase}}</li>
</ul>-->
<!--Anuglar +17-->
@if (enabled) {
  <div>
    <h2>{{title}}</h2>
  </div>
  <ul>
    @for (clase of clases; track $index) {
      <li>{{clase}}</li>
    }
    
  </ul>
}@else {
  <div>Lo sentimos no esta disponible la web</div>
}

<app-clase></app-clase>